body {
    background-color: #b9d5fd ;
    color: #274684;
}
td{
    width: 14%;
    height:15%;
    border: 2px solid #274684;
}
table{
    width: 100%;
    height: 800px;
}
th{
    height: 50px;
}
#loggedout {
    display:flex;
    justify-content: center;
    align-items: center;
}
#loggedout *{
    margin: 5px 5px;
    
}
#loggedout p {
    text-align: center;
}
#loginform, #createuserform {
    border: 1px solid #071739;
}
#loggedin{
    /* visibility:hidden; */
    /* display: grid; */
    display:none;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#welcometext {
    font-size: 20px;
}
#event-details{ 
    display:none;
}
#buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}
#buttons * {
    float: left;
}
#monthyear {
    margin: 10px 10px;
    font-size: 30px;
}
#year {
    padding-left: 5px;
}

#display{
    /* visibility:hidden; */
    /* display: flex; */
    display:none;
    justify-content: center;
    align-items: center;
}


